Addanounce.php
Addcategories.php
Approvecourse.php
Approvequestion.php
Deletecourse.php
RequestingforCourse.php
dbconnection.php
deleteAskedques.php
inserteditprofile.php
insertquestion.php
searchquestion.php
